@model IEnumerable<IService>
@using slideshow.core
@using System.Collections

@{
    ViewData["Title"] = "Status";
}

@*<a href="~/status">
        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>
    </a>*@

<div class="row status-content">
    <div class="col-md-4 col-md-offset-4">
        <a href="~/status">
            <h2>@ViewData["Title"]</h2>
            <h3>@ViewData["Message"]</h3>
        </a>
    </div>
</div>

<div class="row status-content">
    <div class="col-md-4 text-right">
        <h4>HostName</h4>
    </div>
    <div class="col-md-4">
        <h4>@Environment.MachineName</h4>
    </div>
    @if (User.IsInRole("admin"))
    {
        <div class="col-md-2">
            <form method="post">
                <input type="hidden" name="name" value="app">
                <input class="btn btn-danger btn-block" type="submit" name="action" value="Crash me">
            </form>
        </div>
    }
</div>
<div class="row status-content">
    <div class="col-md-4 text-right">
        <h4>OSVersion</h4>
    </div>
    <div class="col-md-4">
        <h4>@Environment.OSVersion</h4>
    </div>
</div>
<div class="row status-content">
    <div class="col-md-4 text-right">
        <h4>ProcessorCount</h4>
    </div>
    <div class="col-md-4">
        <h4>@Environment.ProcessorCount</h4>
    </div>
</div>
<div class="row status-content">
    <div class="col-md-4 text-right">
        <h4>WorkingSet</h4>
    </div>
    <div class="col-md-4">
        <h4>@(Environment.WorkingSet / (1024 * 1024)) MB</h4>
    </div>
</div>

@foreach (var service in Model)
{
    <div class="row status-content">

        <div class="col-md-4 text-right">
            <h4>@service.Name</h4>
        </div>
        <div class="col-md-4">
            <h4>@service.Status</h4>
        </div>
        <div class="col-md-2">
            @if (User.IsInRole("admin"))
            {
                <form method="post">
                    <input type="hidden" name="name" value="@service.Name" />
                    @if (service.Status == ServiceStatus.Running)
                    {
                        <input class="btn btn-info btn-block" name="action" type="submit" value="Stop">
                    }
                    else if (service.Status == ServiceStatus.Stopped)
                    {
                        <input class="btn btn-info btn-block" name="action" type="submit" value="Start">
                    }
                </form>
            }

        </div>
    </div>
}

@if (User.IsInRole("admin"))
{
    <div class="row status-content">

        <form method="post" enctype="multipart/form-data" action="~/status/restore">

            <div class="col-md-4">
                <input type="file" name="file">
            </div>
            <div class="col-md-2">
                <input class="btn btn-default btn-block" type="submit" name="action" value="Restore">
            </div>
        </form>

        <form method="post" action="~/status/backup">

            <div class="col-md-2 col-md-offset-2">
                <input class="btn btn-info btn-block" type="submit" name="action" value="Backup">
            </div>
        </form>

    </div>
}


@if (User.IsInRole("admin"))
{
    <hr />
    <h2>Environment Variables</h2>
    @foreach (var target in Enum.GetValues(typeof(EnvironmentVariableTarget)).OfType<EnvironmentVariableTarget>().Reverse())
    {

        <div class="row status-content">
            <div class="col-md-4 text-right">
                <h3>@target</h3>
            </div>
        </div>

        @foreach (var envvar in Environment.GetEnvironmentVariables(target).OfType<DictionaryEntry>().OrderBy(x => x.Key))
        {
            <div class="row status-content">
                <div class="col-md-6 text-right">
                    @envvar.Key
                </div>
                <div class="col-md-6" style="word-break: break-word;">
                    @if (envvar.Value.ToString().Contains(";"))
                    {
                        @foreach (var entry in envvar.Value.ToString().Split(';').Where(x => !String.IsNullOrWhiteSpace(x)))
                        {
                            @entry<br />
                        }
                    }
                    else
                    {
                        @envvar.Value
                    }
                </div>
            </div>
        }
    }

}
